/* General Styles  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #141401;
}

a {
  text-decoration: none;
  color: #141401;
}

/* Hero Section */

.hero {
  background-color: yellow;
  height: 50vh;
  display: flex;
  align-items: flex-end;
}

.hero #navbar {
  display: flex;
  align-items: baseline;
  position: sticky;
  top: 0;
}

.hero #navbar #logo {
  font-size: 100px;
  margin: 0 100px 0 60px;
  color: #141401;
}

.hero #navbar a {
  padding: 0 25px 0;
  font-size: 1.25em;
}

.hero h1 {
  margin-right: 200px;
}

.hero-2 {
  height: 50vh;
  background-color: #141401;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  height: 20px;
}

/* Tours Section */

.tours {
  height: 1000px;
}
